<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Listado Clientes</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="listadoClientes" id="listadoClientes">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{persona.titulo-list}]]</h4>
                            </div>
                            <div th:if="${personas != null and !personas.empty}">
                                <table class="table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{persona.nombre}">Nombre</th>
                                            <th th:text="#{persona.saldo}">Saldo</th>
                                            <th></th>
                                            <th></th>
                                          
                                        </tr>
                                        
                                        
                                    </thead>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
    </body>
</html>
