<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layaut/plantilla :: head">
        <title>TODO supply a title</title>

    </head >
    <body>
        <header th:replace="layaut/plantilla :: header"></header>
        <section th:replace="layaut/botonesAgregar :: botonesAgregar"></section>
        <!-- <section th:replace="layout/agregarClientes :: agregarClientes"></section>-->
        <section th:replace="layaut/listadoClientes :: listadoClientes"></section>

        <footer th:replace="layaut/plantilla :: footer"> </footer>




    </body>
</html>
