<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layaut/plantilla :: head">
        <title>TODO supply a title</title>
    </head>
    <body>
        <header th:replace="layaut/plantilla :: header"></header>
        <section id="actions" class="py-4 bg-light">
            <div class="container">
                <div class="row">

                    <!-- Se pueden agragar algunos botones-->

                </div>
            </div>         
        </section> 
        <section id="login">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <h4>Login</h4>
                            </div>
                            <div class="card-body">
                                <form method="POST" th:action="@{/login}">
                                    <div class="form-group">
                                        <label for="username">Username:</label>
                                        <input type="text" name="username" id="username"/>
                                    </div>

                                    <div class="form-group">                                  
                                        <label for="password">Password:</label>                                 
                                        <input type="password" name="password" id="password"/> 
                                    </div>
                                    <input type="submit" value="login" class="btn btn-primary btn-block"/> 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="layaut/plantilla :: footer">
            
        </footer >
    </body>
</html>
