<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
        <head th:replace="layaut/plantilla :: head">
        <title>Datos de la persona</title>
        
    </head>
    <body>
        <header th:replace="layaut/plantilla :: header"></header>
        <h2>Datos de la persona</h2>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <form  th:action="@{/guardar}" method="post" th:object="${persona}">
            <input type="hidden" name="idPersona" th:field="*{idPersona}"/>
            <label for="nombre">[[#{persona.nombre}]]</label> 
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error del Nombre</span>
             <br/>
            <label for="apellido">[[#{persona.apellido}]]</label>           
            <input type="text" name="apellido" th:field="*{apellido}"/>
            <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error del Apellido</span>

            <br/>
            <label for="email">[[#{persona.email}]]</label> 
            <input type="email" name="email" th:field="*{email}"/>
             <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">[["#{email.persona.email}"]]</span>

            <br/>
            <label for="telefono">[[#{persona.telefono}]]</label> 
            <input type="tel" name="telefono" th:field="*{telefono}"/>
            <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{nombre}">Error del Telefono</span>

            <br/>
            <input type="submit" name="guardar" th:value="guardar"/>
        </form>
       <footer th:fragment="footer" >
            <p>Derechos reservados <a href="http://luisanagoya.com" target="_blank">www.lgmakeupspain.com</a></p>
        </footer>

    </body>
</html>
